.backgroundBanner {
  margin-left: calc((100vw - 100%) / -2) !important;
  margin-right: calc((100vw - 100%) / -2) !important;
  padding: 15px calc((100vw - 100%) / 2);
  background-color: #c52184;
}
