.brand {
  font-weight: 600;
  font-family: serif;
  font-size: x-large;
}

ul {
  list-style-type: none;
  padding-left: 0;
  color: #c52184;
}

li > a {
  color: #c52184;
}

.form-check {
  display: flex;
  flex-direction: row-reverse;
}

#darkMode {
  margin-left: 10px;
}
