.brand {
  color: #c52184 !important;
  font-weight: 600;
  font-family: serif;
  font-size: x-large;
}

.header {
  color: #c52184;
}

ul {
  list-style-type: none;
  padding-left: 0;
  color: #c52184;
}

li > a {
  color: #c52184;
}

.brandColor {
  color: #c52184 !important;
}
